section, nav, article, aside{
    background-color: #9a01cd;
    margin: 10px 10px;
    min-height: 20vh;
    padding: 10px;
}

section, nav, article, aside{
    background-color: #9a01cd;
    margin: 10px 10px;
    min-height: 20vh;
    padding: 10px;
}